section#portfolio.section
    .limiter-content
        header.title__section
            h1.title PORTAFOLIO
            h3.short__description ALGUNOS DE MIS TRABAJOS
        .section__areas
            .isotope
                .isotope-filter
                    .row.not-margin.center-xs
                        button.filter.active(category="*") Todo
                        button.filter(category=".website") Paginas Web
                        button.filter(category=".softwareweb") Software Web
                .isotope-grid
                    .grid-item.website
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/1.jpg)", data-resizing="1")
                            a.link.fancybox-custom(
                                href="../assets/images/portfolio/1.jpg",
                                data-fancybox="portfolio",
                                data-caption="" +
                                    "<h2>Loteria de Boyac치</h2>" +
                                    "<p>Desarrollo sitio web corporativo de la Loteria de Boyac치</p>" +
                                    "<ul>" +
                                        "<li>Sitio web con administrador de contenido a la medida</li>" +
                                        "<li>Api Rest para entregar contenido a la app movil</li>" +
                                        "<li>Modulos avanzados, desarrollados a la medida del cliente</li>" +
                                        "<li>PHP - Yii Framework</li>" +
                                        "<li>Angular JS</li>" +
                                        "<li>MySql</li>" +
                                    "</ul>" +
                                    "<p><a href='http://www.loteriadeboyaca.gov.co/' target='_blank'>http://www.loteriadeboyaca.gov.co</a></p>"
                            )
                    .grid-item.softwareweb
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/2.jpg)", data-resizing="1")
                            a.link.fancybox-custom(
                                href="../assets/images/portfolio/2.jpg",
                                data-fancybox="portfolio",
                                data-caption="" +
                                    "<h2>Centro Comercial Arrecife</h2>" +
                                    "<p>Desarrollo sitio web corporativo de la Loteria de Boyac치</p>" +
                                    "<ul>" +
                                        "<li>PHP - Yii Framework</li>" +
                                        "<li>Angular JS</li>" +
                                        "<li>MySql</li>" +
                                    "</ul>" +
                                    "<p><a href='http://www.loteriadeboyaca.gov.co/' target='_blank'>http://www.loteriadeboyaca.gov.co</a></p>"
                            )
                    .grid-item.website
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/3.jpg)", data-resizing="1")
                            a.link.fancybox-custom(
                                href="../assets/images/portfolio/1.jpg",
                                data-fancybox="portfolio",
                                data-caption="" +
                                    "<h2>CRM</h2>" +
                                    "<p>Desarrollo sitio web corporativo de la Loteria de Boyac치</p>" +
                                    "<ul>" +
                                        "<li>PHP - Yii Framework</li>" +
                                        "<li>Angular JS</li>" +
                                        "<li>MySql</li>" +
                                    "</ul>" +
                                    "<p><a href='http://www.loteriadeboyaca.gov.co/' target='_blank'>http://www.loteriadeboyaca.gov.co</a></p>"
                            )
                    .grid-item.website
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/4.jpg)", data-resizing="1")
                            a.link.fancybox-custom(href="../assets/images/portfolio/4.jpg", data-fancybox="portfolio", data-caption="elgol sunset <b>matty brooks</b>")
                    .grid-item.softwareweb
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/5.jpg)", data-resizing="1")
                            a.link.fancybox-custom(href="../assets/images/portfolio/5.jpg", data-fancybox="portfolio", data-caption="elgol sunset <b>matty brooks</b>")
                    .grid-item.website.softwareweb
                        .portfolio__item.js-resizing(style="background-image:url(../assets/images/portfolio/6.jpg)", data-resizing="1")
                            a.link.fancybox-custom(href="../assets/images/portfolio/6.jpg", data-fancybox="portfolio", data-caption="elgol sunset <b>matty brooks</b>")