extends _base

block content
    each i in ['section1','section2','section3','section4','section5']
        div(id=i)
            h1 TEST #{i}
            h1 TEST #{i}
            h1 TEST #{i}
            h1 TEST #{i}
            h1 TEST #{i}
            h1 TEST #{i}
            h1 TEST #{i}
            hr